.services{
    width: 70vw;
    height: 50vh;
    padding: 70px;
 
 

}

.service-text{
    font-size: 20px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgb(6, 52, 101);
}